name: Build and Deploy Lambda

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
                

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25


      - name: List root directory
        run: ls -la          
          
      - name: Make Gradle wrapper executable
        working-directory: ./java-events
        run: chmod +x ./gradlew          

      - name: Build Lambda
        working-directory: ./java-events
        run: ./gradlew build -x test -i    
