name: Build and Deploy Lambda

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
                

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25


      - name: List root directory
        working-directory: sample-apps/java-events
        run: ls -la          
          
      # - name: Make Gradle wrapper executable
      #   working-directory: sample-apps/java-events
      #   run: chmod +x ./gradlew          

      - name: Build Lambda
        working-directory: sample-apps/java-events
        run: gradle build -x test -i    

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::348117807625:role/java-events-functionRole-T4VHC59hds3e
          aws-region: eu-north-1        
